<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AtonProviderHost" type="Aton.Core.Config.ProviderConfigHandler.AtonProviderConfiguration, Aton.Core"></section>
  </configSections>
  <AtonProviderHost>
    <AtonProviderMode IsDelayLoad="true"></AtonProviderMode>
    <AtonProdivers>
      <AtonProvider Name="AtonLoggerProvider" Ver="V2.0" Desc="日志组件V2.0" Type="Aton.Core.LoggerProvider.Log4NetLogger,Aton.Core.LoggerProvider"></AtonProvider>
      <AtonProvider Name="AtonConfigProvider" Ver="V2.0" Type="Aton.Core.ConfigProvider.DbConfigProvider,Aton.Core.ConfigProvider"></AtonProvider>
    </AtonProdivers>
  </AtonProviderHost>
</configuration>