<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AtonServiceHost" type="Aton.Core.Config.ServiceConfigHandler.AtonServicesConfiguration, Aton.Core"></section>
  </configSections>

  <!--托管服务列表-->
  <AtonServiceHost>
    <AtonServiceSummary ServiceName="AtonServiceHost" ServiceDesc="Aton托管服务容器"/>
    <AtonServices>
      <AtonService Name="SMSService" Type="Aton.Services.SMSService.SMSService, Aton.Services.SMSService" />
    </AtonServices>
  </AtonServiceHost>
  
</configuration>